
:root {
    --background-color: #1c1b1e;
    --on-background-color: #121212;
    --test-color: #e8e6e3;
}

.my-header {
    background-color: var(--background-color);
    height: 4.5rem;
}

.my-sidebar {
    background-color: var(--background-color);
    color: var(--test-color);
}

.my-sign-in {
    border-color: #303030;
    border-style: solid;
    background-color: #1c1b1e;
}

.my-background{
    background-color: var(--background-color);
}

.my-onBackground {
    background-color: var(--on-background-color);
}

.my-searchButton {
    border-color: #303030;
    border-style: solid;
    background-color: #1c1b1e;
    border-width: 1px;
    border-left-width: 0;
}

.my-search {
    border-color: #303030;
    border-style: solid;
    border-width: 1px;
    color: #e8e6e3;
    font-weight: 500;
    font-family: "Roboto Light", sans-serif;
}


.my-interactive {
    color: #3ea6ff;
}