

.my-header{
    background-color: #1c1b1e;
    height: 4.5rem;
}

.my-sign-in{
    border-color: #303030;
    border-style: solid;
    background-color: #1c1b1e;
}

.my-interactive {
    color: #3ea6ff;
}